# Video, Audio & Picture files
*.264
*.aac
*.ac3
*.d2v
*.flac
*.h264
*.jpeg
*.jpg
*.log
*.m2ts
*.mka
*.mks
*.mkv
*.mp3
*.mp4
*.opus
*.png
*.undefined
*.vorbis
*.w64
*.wav
*.webm

# VapourSynth files
*.bookmarks
*.ffindex
*.lwi

# Aegisub files (those get uploaded to the group's specific repositories) & Fonts
*.autosave
*.mocha
*.otf
*.srt
*.ttf

# BDMV/DVD files
*.bdmv
*.bup
*.clpi
*.ifo
*.inf
*.ini
*.iso
*.mpls
*.vob
*.xml

# Misc
*.7z
*.bat
*.cbz
*.exe
*.parts
*.py
*.rar
*.txt
*.zip
*comp.vpy
*sakuga.vpy
